<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cacawet</title>

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">

</head>
<body>
    <!-- modal -->
    <div class="fixed z-10 inset-0 overflow-y-auto popup">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">

        <div class="fixed inset-0 transition-opacity">
            <div class="absolute inset-0 bg-gray-700 opacity-75"></div>
        </div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;
        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-6 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                    <img src="/img/hat.svg" alt="">
                </div>
                <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                <h3 class="text-2xl leading-6 font-medium text-gray-900 fontOne" id="modal-headline">
                    Petites informations:
                </h3>
                <div class="mt-2">
                    <p class="text-2xl leading-5 text-gray-700 fontOne">Une fois que tu auras pêché une personne, retiens bien son nom. Cette info ne sera plus disponnible après 10 sec, et il sera impossible de la réccupérer plus tard.</p>
                </div>
                </div>
                </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
            <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                <button type="button" class="popupButton inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5 fontOne text-2xl">
                Ok
                </button>
            </span>
            </div>
        </div>
        </div>
    </div>
  


    <!-- corp -->
    <div class="container mx-auto">
        <div class="max-w-sm overflow-hidden mx-auto h-screen flex flex-col content-center justify-center flex-wrap">
            <div class="align-middle mb-5">
                <p class="text-center fontOne text-2xl">Bienvenue <%= user %>,</p>
                <p class="text-center fontOne text-2xl">tu peux lancer la sélection en appuyant sur le cadeau</p>
             </div>
            <div class="w-full text-center">
                <form action="/participantSelected" method="POST">
                    <button class="flex justify-center" type="submit" id="getParticipant">
                        <img class="buttonCacawet" src="/img/christmas-present.svg" alt="">
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script>
        let popup = document.querySelector('.popup');
        let popupButton = document.querySelector('.popupButton');

        popupButton.addEventListener('click', function () {
            popup.style = 'display: none;'
        })
    

    </script>
</body>
</html>