<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cacawet</title>

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">

</head>
<body>
    <div class="container mx-auto">
        <!-- Notification -->
        <% if(locals.flash && locals.flash.error){ %>
                <div class="flex justify-center w-full pt-4 z-10 fixed right-0" id="hideMe">
                  <div class="bg-white rounded-lg border-gray-300 border p-3 shadow-lg">
                    <div class="flex flex-row">
                      <div class="ml-2 mr-6">
                        <span class="font-semibold">Oops !</span>
                        <span class="block text-gray-500"><%= flash.error %></span>
                      </div>
                    </div>
                  </div>
                </div>
        <% } %> 