<%- include('header'); %> 
<div class="max-w-sm overflow-hidden mx-auto h-screen flex content-center justify-center flex-wrap">
    <div class="px-6 py-4 align-middle">
        <div class="w-full max-w-xs">
            <form class="px-8 pt-2" method="POST" action="/">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2 fontOne text-2xl" for="username">Prénom</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline fontTwo text-2xl" name="prenom" id="prenom" type="text" placeholder="...">
                </div>
                <div class="mb-6">
                    <label class="block text-gray-700 text-sm font-bold mb-2 fontOne text-2xl" for="password">Mot de passe</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline fontTwo text-2xl" name="password" id="password" type="password" placeholder="******************">
                </div>
                <div class="flex items-center justify-center">
                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline fontOne text-2xl" type="submit">
                    Connexion
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('footer'); %> 