<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cacawet</title>

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="container mx-auto">
        <div class="max-w-sm overflow-hidden mx-auto h-screen flex flex-col content-center justify-center flex-wrap">
            <div class="fontOne text-3xl text-center">tu as pêché</div>
            <h1 class="fontTwo text-6xl text-center"><%= participantSelected %> </h1>
            <div class="text-xl mt-5">
                <p class="text-center fontOne text-2xl">Retiens le bien, car cette information s'effacera dans <span class="fontTwo" id="compteur">10</span> sec.</p>
            </div>
        </div>
    </div>
    <script>

        let compteur = document.querySelector('#compteur');
        let time = 10;

        function updateTime () {
            time --;
            compteur.innerHTML = time

            if (time === 0) {
                window.location.href = '/'
            }
        }

        setInterval(updateTime,1000)

    </script>
</body>
</html>