<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cacawet</title>

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="max-w-sm overflow-hidden mx-auto h-screen flex flex-col content-center justify-center flex-wrap">
        <h1 class="align-middle fontOne text-5xl text-center"><%= user %>, tu as déjà participé</h1>
    </div>
    <script>

        let time = 3;

        function updateTime () {
            time --;

            if (time === 0) {
                window.location.href = '/'
            }
        }

        setInterval(updateTime,1000)

    </script>
</body>
</html>